{% extends "admin_base.html" %}
{% load static %}
{% block body_contents %}

<div class="container">
  <br> <br> <br><br><br><br>
  <h2 class="text-center">Add Doctor</h2>

    <div class="card-body">
      <form action="" method="post">
        {% csrf_token %}
        <div class="col-auto">
          <label for="Doctor Name">Doctor Name</label>
          <input type="text" class="form-control" name="docname">
        </div>
        <div class="col-auto">
          <label for="Doctor Email">Doctor Email</label>
          <input type="email" class="form-control" name="docemail">
        </div>
        <div class="col-auto">
          <label for="Doctor Number">Doctor Number</label>
          <input type="number" class="form-control" name="docnumber">
        </div>
        <div class="col-auto">
          <label for="Doctor Address">Doctor Address</label>
          <input type="text" class="form-control" name="docaddress">
        </div>
        <div class="col-auto">
          <label for="Doctor Department">Doctor Department</label>
          <input type="text" class="form-control" name="docdepartment">
        </div>
        <br>
        <div class="col-auto">
          <button type="submit" value="Add Doctor" class="btn btn-primary mb-3">Add Doctor</button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
