{% extends "admin_base.html" %}
{% load static %}
{% block body_contents %}
 

<!-- <div class="container">
  
  <br><br><br><br><br><br>
  <h2 class="text-center">View Doctor</h2>
  <br>
  <table id = "example" class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Doctor ID</th>
        <th scope="col">Doctor Name</th>
        <th scope="col">Doctor Email</th>
        <th scope="col">Doctor Number</th>
        <th scope="col">Doctor Address</th>
        <th scope="col">Doctor Department</th>

      </tr>
    </thead>
    <tbody>
      {% for doctor in doc %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{ doctor.doc_name }}</td>
        <td>{{ doctor.doc_email }}</td>
        <td>{{ doctor.doc_number }}</td>
        <td>{{ doctor.doc_address }}</td>
        <td>{{ doctor.department }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div> -->


    <div class="container">
      <br><br><br><br><br><br>
        <h2 class="text-center text-primary font-weight-bold">View Doctor</h2>
        <table id="example" class="table table-hover  mt-5">
            <thead>
              <tr>
                <th scope="col">Doctor ID</th>
                <th scope="col">Doctor Name</th>
                <th scope="col">Doctor Email</th>
                <th scope="col">Doctor Number</th>
                <th scope="col">Doctor Address</th>
                <th scope="col">Doctor Department</th>
                <th>Delete</th>
        
              </tr>
            </thead>
            <tbody>
              {% for doctor in doc %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{ doctor.doc_name }}</td>
                <td>{{ doctor.doc_email }}</td>
                <td>{{ doctor.doc_number }}</td>
                <td>{{ doctor.doc_address }}</td>
                <td>{{ doctor.department }}</td>
                <td><a href="{% url 'delete_doctor' doctor.id%}" class = "btn btn-Danger">Delete</a></td>
              </tr>
              
              {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

