{% extends "base.html"%}

{% load static %}

{% block body_content %}

<br><br><br><br><br><br><br><br>

<table class="table">
  <thead>
    <tr>
      <th>S.N</th>
      <th scope="col">Patient Name</th>
      <th scope="col">Patient Address</th>
      <th scope="col">Patient Phone</th>
      <th scope="col">Doctor</th>
      <th scope="col">AppointmentDate</th>
      <th scope="col">AppointmentTime</th>
      <th scope="col">PatientSymptoms</th>
      <th>Action</th>

    </tr>
  </thead>
  <tbody>
    <p style="font-size: large; text-align: center;"><b>User Info</b></p>
    <br><br>
    <!-- <p>Patient here</p> -->
    {% for appt in appointments %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{appt.patient_name}}</td>
      <td>{{ appt.patient_address}}</td>
      <td>{{ appt.patient_phone}}</td>
      <td>{{ appt.doctor}}</td>
      <td>{{ appt.date}}</td>
      <td>{{ appt.time}}</td>
      <td>{{ appt.symptoms}}</td>

      <td class="d-flex justify-content-between">


        <a href="{% url 'userupdateappt' appt.id %}"><i class="bi bi-pencil-square text-warning"></i></a>

        <a href="{% url 'userdeleteappt' appt.id %}"><i class="bi bi-trash-fill text-danger"></i></a>
     </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</body>

</html>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
