
{% extends "base.html"%}

{% load static %}
{% load crispy_forms_tags %}

{% block body_content %}
<style>
   .box h5 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #5c6bc0; 
    font-size: 18px;
    margin-top:50px;;
  }
  .box input[type = "email"]{
    /* display: block; */
    border: 2;
    border-radius: 5px;
    padding: 6px 10px;
    width: 250px;
    outline: none; 
  }
</style>
<!--Reset Password-->
<br><br><br><br><br><br>
<div class="container p-5">
  <h2 class="font-weight-bold mt-3">Reset Password</h2>
<hr>
<h5>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one</h5>
<!-- <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p> -->
<br><br>
<form name="form1" class="box" method="POST">
       {% csrf_token %}
       <!-- {{ password_reset_form|crispy }}                     -->
      
                          
       {{password_reset_form.as_p}}  
       <br> 
       <button class="btn btn-primary" type="submit">Send email</button>
   </form>
</div> 
<br><br>
{% endblock %}
